Flask==2.2.2
requests==2.28.1
ptvsd==4.3.2 # Required for debugging.
cachetools==5.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
Flask==2.2.2
google-api-core==2.10.2
google-auth==2.14.0
google-cloud-aiplatform==1.18.3
google-cloud-bigquery==2.34.4
google-cloud-core==2.3.2
google-cloud-resource-manager==1.6.3
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-resumable-media==2.4.0
googleapis-common-protos==1.56.4
grpc-google-iam-v1==0.12.4
grpcio==1.50.0
grpcio-status==1.48.2
idna==3.4
importlib-metadata==5.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
packaging==21.3
Pillow==9.3.0
proto-plus==1.22.1
protobuf==3.20.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.9
python-dateutil==2.8.2
requests==2.28.1
rsa==4.9
six==1.16.0
urllib3==1.26.12
Werkzeug==2.2.2
zipp==3.10.0
absl-py==1.3.0
asgiref==3.5.2
astroid==2.12.12
asttokens==2.1.0
astunparse==1.6.3
attrs==22.1.0
autopep8==1.5.5
backcall==0.2.0
bleach==5.0.1
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
contourpy==1.0.5
cryptography==38.0.1
cycler==0.11.0
dbus-python==1.2.16
decorator==5.1.1
dill==0.3.6
distlib==0.3.6
Django==4.1.2
dnspython==2.2.1
executing==1.2.0
filelock==3.8.0
flake8==3.8.4
Flask==2.2.2
Flask-PyMongo==2.3.0
flatbuffers==1.12
fonttools==4.37.4
gast==0.4.0
gce-v2v @ https://storage.googleapis.com/velostrata-release/gce-v2v/gce-v2v.tar.gz
google-api-core==2.10.2
google-api-python-client==2.65.0
google-auth==2.13.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-appengine-logging==1.1.6
google-cloud-audit-log==0.2.4
google-cloud-bigquery==3.3.5
google-cloud-bigquery-storage==2.16.2
google-cloud-core==2.3.2
google-cloud-datastore==2.9.0
google-cloud-language==2.6.1
google-cloud-logging==3.2.5
google-cloud-spanner==3.22.2
google-cloud-storage==2.5.0
google-cloud-translate==3.8.4
google-cloud-videointelligence==2.8.3
google-cloud-vision==3.1.4
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.0
googleapis-common-protos==1.56.4
grpc-google-iam-v1==0.12.4
grpcio==1.50.0
grpcio-status==1.50.0
h5py==3.7.0
httplib2==0.21.0
idna==3.4
importlib-metadata==5.0.0
ipython==8.5.0
isort==5.10.1
itsdangerous==2.1.2
jaraco.classes==3.2.3
jedi==0.17.0
jeepney==0.8.0
Jinja2==3.1.2
jsonschema==4.16.0
keras==2.9.0
Keras-Preprocessing==1.1.2
keyring==23.9.3
keyrings.google-artifactregistry-auth==1.1.1
kiwisolver==1.4.4
lazy-object-proxy==1.6.0
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
mccabe==0.6.1
mercurial==5.6.1
more-itertools==9.0.0
mypy==0.982
mypy-extensions==0.4.3
numpy==1.23.4
oauth2client==4.1.3
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.5.2
pluggy==1.0.0
prompt-toolkit==3.0.31
proto-plus==1.22.1
protobuf==4.21.9
psycopg2==2.9.5
ptvsd==4.3.2
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.21
pycurl==7.43.0.6
pydocstyle==6.1.1
pyflakes==2.2.0
Pygments==2.13.0
PyGObject==3.38.0
pylint==2.15.5
pyls-mypy==0.1.8
pymongo==4.3.2
pyparsing==3.0.9
pyrsistent==0.18.1
python-apt==2.2.1
python-dateutil==2.8.2
python-jsonrpc-server==0.4.0
python-language-server==0.35.1
pytoolconfig==1.2.2
PyYAML==6.0
requests==2.28.1
requests-oauthlib==1.3.1
rope==1.4.0
rsa==4.9
SecretStorage==3.3.3
six==1.16.0
snowballstemmer==2.2.0
sqlparse==0.4.3
stack-data==0.6.0
supervisor==4.2.2
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.0
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.0.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
traitlets==5.5.0
typing-extensions==4.4.0
ujson==5.5.0
uritemplate==4.1.1
urllib3==1.26.12
virtualenv==20.16.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.2
wrapt==1.14.1
yapf==0.32.0
zipp==3.10.0
