<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Latte Art Detector</title>
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
    <!-- Style CSS -->
    <link rel="stylesheet" href="static/css/style.css">
	<!-- Demo CSS -->
	<link rel="stylesheet" href="static/css/demo.css">
  
  </head>
  <body>
          
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-2">Upload your Coffee creation image</h1>

    <form method="post" action="/result" enctype="multipart/form-data">
        <dl>
            <p>    
                <input type="file" name="file" class="form-control"  required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>  

  </div>

</div>
  </div>
</div>   
  <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  
  </body>
</html>
